<div class="galleries">
  {{ with partial "jslibs/gallery/get-gallery" . }}
    <div class="card">
      <a data-turbo="false" class="card-img" href="{{ .page.RelPermalink }}">
        <img
          src="{{ .thumb.RelPermalink }}"
          alt="{{ .thumb.Name }}"
          class=""
          width="{{ .thumb.Width }}"
          height="{{ .thumb.Height }}" />
        <span class="num-photos">
          {{ .images | len }} {{ T "photo" ( .images | len) }}
        </span>
      </a>
      <div class="body">
        <h2>
          <a href="{{ .page.RelPermalink }}">{{ .page.LinkTitle }}</a>
        </h2>
        <p>
          {{ .page.Summary }}
        </p>
      </div>
    </div>
  {{ end }}
</div>