{{ with partial "jslibs/gallery/get-gallery" . }}
  {{ $gallery := partial "jslibs/gallery/init" (dict "images" .images) }}
  {{ $params := site.Params.gallerydeluxe }}
  <div id="gallerydeluxe" data-gd-image-data-url="{{ $gallery.imageDataUrl }}">
    <div id="gd-modal" class="gd-modal">
      <span id="gd-modal-close" class="gd-modal-close">&times;</span>
      {{ if $params.enable_exif }}
        <div id="gd-modal-exif" class="gd-modal-exif"></div>
      {{ end }}
    </div>
  </div>
{{ end }}

{{ define "head-custom" }}
  {{ partial "jslibs/gallery/head.html" . }}
{{ end }}