<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head" . }}
</head>
<body>
  <header>
    {{ partial "header" . }}
  </header>
  <main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="relative mt-8 grid grid-cols-1 gap-4 lg:grid-cols-[220px_1fr] lg:gap-8">
      <div class="hidden md:block">
        {{ partial "sidemenu" (dict "menuID" "main" "page" .) }}
      </div>
      {{ block "main" . }}{{ end }}
    </div>
  </main>
  <footer>
    {{ partial "footer" . }}
  </footer>
  {{- if .IsHome }}
  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", (user) => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
  {{- end }}
</body>
</html>