{{ define "main" }}
<div>
  <div class="mb-2.5">
    {{ partial "terms" (dict "taxonomy" "tags" "page" .) }}
    {{ partial "dates" . }}
    {{ partial "terms" (dict "taxonomy" "series" "page" .) }}
  </div>
  <div class="grid grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-8">
    <div class="lg:col-span-2">
      <article class="prose lg:prose-xl max-w-none prose-img:mx-auto text-pretty">
        {{ .Content }}
      </article>
      {{ partial "related" . }}
    </div>
    <div class="relative hidden md:block">
      <aside class="sticky top-4">
        <div class="flex items-center gap-4 mb-2">
          <a class="text-gray-700 transition hover:text-gray-700/75" href="mailto:?subject={{ .Site.Title }}: {{ .Title }} &amp;body=Check out this latest article from {{ .Site.Title }}: {{ .Permalink }}">
            {{ partial "utils/icon" (dict "name" "send" "attributes" "height=24") }}
          </a>
        </div>
        <div>
          <strong class="uppercase font-medium text-gray-300" x-data="{ visibleHeadingId: '' }"> ON THIS PAGE </strong>
          {{ .TableOfContents }}
        </div>
      </aside>
    </div>
  </div>
</div>
{{ end }}
