{{ define "main" }}
<div>
  {{ partial "terms" (dict "taxonomy" "tags" "page" .) }}
  {{ partial "dates" . }}
  {{ partial "terms" (dict "taxonomy" "series" "page" .) }}
  <div class="grid grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-8">
    <div class="lg:col-span-2">
      <article class="prose lg:prose-xl max-w-none prose-img:mx-auto text-pretty">
        {{ .Content }}
      </article>
      {{ partial "related" . }}
    </div>
    <div class="relative">
      <aside class="sticky top-4">
        <div class="flex items-center gap-4 mb-2">
          <a href="">
            {{ partial "utils/icon" (dict "name" "share" "attributes" "height=24") }}
          </a>
          <a href="">
            {{ partial "utils/icon" (dict "name" "send" "attributes" "height=24") }}
          </a>
          <a href="">
            {{ partial "utils/icon" (dict "name" "copy" "attributes" "height=24") }}
          </a>
        </div>
        <strong class="uppercase font-medium text-gray-900"> ON THIS PAGE </strong>
        {{ .TableOfContents }}
      </aside>
    </div>
  </div>
</div>
{{ end }}
