@import "tailwindcss";
@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
  /* Improve Page speed */
  /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
  img {
    content-visibility: auto;
  }
  details > summary {
    list-style: none;
  }
  details > summary::-webkit-details-marker {
    display: none;
  }
  body.overflow {
    overflow: hidden;
  }
  [x-cloak] { display: none !important; }
}

@layer components {
  #TableOfContents {
    @apply py-8;
  
    ul > li > ul {
      @apply space-y-1 border-l border-gray-200 pl-4;
    }
  
    a {
      @apply text-gray-500 hover:text-gray-700;
    }
  }
  
  .tocactive {
    @apply font-medium text-gray-700;
  }

  .active {
    @apply text-gray-700 bg-gray-100;
  }
}