@import "tailwindcss";

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
  /* Improve Page speed */
  /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
  img {
    content-visibility: auto;
  }
  details > summary {
    list-style: none;
  }
  details > summary::-webkit-details-marker {
    display: none;
  }
  body.overflow {
    overflow: hidden;
  }
}

@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('/fonts/Helvetica.woff') format('woff');
}