  <div class="mx-auto max-w-7xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <div class="flex-1 md:flex md:items-center md:gap-12">
        <a class="block text-gray-600 transition hover:text-gray-600/75" href="{{ .Site.BaseURL | relLangURL }}">
          <span class="sr-only">Home</span>
					<span class="text-3xl">Ⰿ</span>
        </a>
      </div>
      <div class="md:flex md:items-center md:gap-12">
        <div @click.away="open = false" x-data="{ open: false }"
					class="block md:hidden">
          <button @click="open = !open" 
						class="rounded bg-gray-100 p-2 text-gray-600 transition hover:text-gray-600/75">
            <svg xmlns="http://www.w3.org/2000/svg" class="size-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path x-show="!open" 
								stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
							<path x-show="open" x-cloak 
								fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </button>
					<div x-show="open" x-cloak
						class="absolute end-0 z-10 mt-0.5 w-56 divide-y divide-gray-100 rounded-md border border-gray-100 bg-white shadow-lg" role="menu">
						{{ partial "sidemenu" (dict "menuID" "main" "page" .) }}
					</div>
        </div>
      </div>
    </div>
    <div class="flex flex-col items-start gap-4 md:flex-row md:items-center md:justify-between">
      <div>
        <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl">{{ if not .IsHome }}{{ .Title }}{{ else }}{{ T "header" }}{{ end }}</h1>
				<div class="mt-1.5 text-sm">
					{{if not .IsHome}}
						{{ partial "breadcrumbs" . }}
					{{else}}
					<p class="text-gray-500">
						I'm Mislav Matoković, and I like to write when I have free time.
					</p>
					{{end}}
				</div>
      </div>
			{{ partial "social" . }}
    </div>
  </div>