<div class="mt-8 [column-fill:_balance] sm:columns-2 sm:gap-6 lg:columns-3 lg:gap-8">
  {{ range .Paginator.Pages }}
  <div class="mb-8 sm:break-inside-avoid">
    <div class="rounded-lg bg-slate-50 shadow-sm">
      <div class="flex-1 items-center group">
        <a href="{{ .RelPermalink }}">
          <article class="group">
          {{ with .Resources.GetMatch .Params.thumbnail }}
            <img
              src="{{ .RelPermalink }}"
              alt="{{ .Name }}"
              width="{{ .Width }}"
              height="{{ .Height }}"
              class="h-56 w-full rounded-xl object-cover shadow-xl transition group-hover:grayscale-[50%]"
            />
          {{ end }}
            <div class="p-4">
                <h3 class="text-lg font-medium text-gray-900">{{ .LinkTitle }}</h3>
                <dl class="flex gap-2">
                  <div class="flex flex-col-reverse">
                    <dd class="text-xs text-gray-500">{{.Date.Format "01.02.2006."}}</dd>
                  </div>
                  <div class="flex flex-col-reverse">
                    <dd class="text-xs text-gray-500">{{ partial "terms" (dict "taxonomy" "series" "page" .) }}</dd>
                  </div>
                  <div class="flex flex-col-reverse">
                    <dd class="text-xs text-gray-500">{{ partial "utils/icon" (dict "name" "book-open" "attributes" "height=14 class=inline") }} {{ .ReadingTime }} min.</dd>
                  </div>
                </dl>
            </div>
          </article>
        </a>
      </div>
    </div>
  </div>
  {{ end }}
</div>