<ul class="flex items-center gap-4">
  {{ $data := dict }}
  {{ $path := "data/social.yaml" }}
  {{ with resources.Get $path }}
    {{ with . | transform.Unmarshal }}
      {{ $data = . }}
    {{ end }}
    {{ range $data }}
      <li>
        <a href="{{ .url }}" rel="noreferrer" target="_blank" class="text-gray-700 transition hover:text-gray-700/75">
          <span class="sr-only">{{ .name }}</span>
          {{ partial "utils/icon" (dict "name" .name "attributes" "height=20") }}
        </a>
      </li>
    {{ end }}
  {{ end }}
  {{ with .OutputFormats.Get "rss" -}}
  <li>
    <a href="{{ .RelPermalink }}" rel="noreferrer" target="_blank" class="text-gray-700 transition hover:text-gray-700/75">
      <span class="sr-only">rss</span>
      {{ partial "utils/icon" (dict "name" "rss" "attributes" "height=20") }}
    </a>
  </li>
  {{ end }}
</ul>