{{- /*
For a given taxonomy, renders a list of terms assigned to the page.

@context {page} page The current page.
@context {string} taxonomy The taxonomy.

@example: {{ partial "terms" (dict "taxonomy" "tags" "page" .) }}
*/}}

{{- $page := .page }}
{{- $taxonomy := .taxonomy }}

{{- with $page.GetTerms $taxonomy }}
  {{- if eq $taxonomy "series" }}
  <p class="text-xs text-gray-500">
    Series: <a href="{{ (index . 0).RelPermalink }}" class="font-medium underline hover:text-gray-700">{{ (index . 0).LinkTitle }}</a>
  </p>
  {{- else }}
    <p>
      {{- $label := (index . 0).Parent.LinkTitle }}
      {{- range . }}
        <a class="whitespace-nowrap rounded-full px-2.5 py-0.5 text-xs bg-gray-200 text-gray-600 transition hover:bg-gray-300"
          href="{{ .RelPermalink }}">#{{ .LinkTitle }}</a>
      {{- end }}
    </p>
  {{- end }}
{{- end }}
