{{ define "main" }}
<section>
  <strong class="uppercase font-medium text-gray-900 flex justify-end"> Latest Posts </strong>
  {{- $paginator := .Paginate ( where site.RegularPages "Type" "posts") 3 }}
  {{- range $paginator.Pages.ByDate }}
  <article class="mb-3 flex relative h-48 overflow-hidden sm:h-48 lg:order-last lg:h-48 group">
    <div class="hidden sm:block sm:basis-56">
      {{ with .Resources.GetMatch .Params.thumbnail }}
      <img
        src="{{ .RelPermalink }}"
        alt="{{ .Name }}"
        width="{{ .Width }}"
        height="{{ .Height }}"
        class="rounded-lg aspect-video h-full w-full object-cover transition group-hover:grayscale-[50%]"
      />
    {{ end }}
    </div>
    <div class="flex flex-1 flex-col justify-between md:pl-4">
      <div class="border-s border-gray-900/10 p-1 sm:border-l-transparent sm:p-2">
        {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
        {{ partial "dates" . }}
        <a href="{{ .RelPermalink }}" data-turbo="false">
          <h3 class="font-medium uppercase text-gray-900 border-b-2 pt-2 border-gray-100 hover:text-gray-900/75">
            {{ .Title }}
          </h3>
        </a>
        <p class="mt-2 line-clamp-3 text-sm/relaxed text-gray-700">
          {{ .Content | strings.Truncate 142 }}
        </p>
        {{ if .Truncated }}
        <a href="{{ .RelPermalink }}" class="text-center text-xs font-bold uppercase text-gray-700 transition hover:text-gray-700/75">
          Read More
        </a>
        {{ end }}
      </div>
    </div>
  </article>
{{- end }}
</section>
{{- end }}